# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production build
/build

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ide
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# readme
README.md

# gitignore
.gitignore