# dependencies
node_modules

# testing
coverage

# build
dist

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo

# ide
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# vscode
.vscode

# readme
README.md

# versioning
.gitignore

# docker
Dockerfile