# build
/dist
/node_modules
/build

# logging
logs
*.log
pnpm-debug.log*

# misc
.DS_Store
*.pem

# testing
/coverage
/.nyc_output

# temporary files
.temp
.tmp

# runtime
pids
*.pid
*.seed
*.pid.lock

# reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
